.underline-css {
    display: inline;
    position: relative;
    overflow: hidden;
  }
  .underline-css:after {
    content: "";
    position: absolute;
    z-index: -1;
    right: 0;
    width: 0;
    bottom: -5px;
    background: #FFF;
    height: 4px;
    transition-property: width;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
  }
  .underline-css:hover:after,
  .underline-css:focus:after,
  .underline-css:active:after {
    left: 0;
    right: auto;
    width: 100%;
  }